div#information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.board {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(6, 1fr);

  justify-self: center;
  align-self: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}