* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#setMenu {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    padding: 1%;
    padding-bottom: 1.5%;
    border-radius: 8px;

    background-color: lightsteelblue;
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    border: 2px solid steelblue;
}

button {
    font-size: large;
    border-radius: 15%;
    background-color: transparent;
    cursor: pointer;
}
button#closeMenu {
    position: absolute;
    display: flex;
    width: 1.4em;
    justify-content: center;
    right: 2%;
}

div.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
button#restartBtn {
    width: 5em;
    display: flex;
    padding: 0.2em 0.5em;
    justify-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#setHead {
    text-align: center;
    margin-bottom: 10px;
    font-size: x-large;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.top {
    display: flex;
    width: 100%;
    justify-items: space-evenly;
    text-align: center;
}

.container {
    width: 50%;
    flex-direction: column;

}

label {
    display: block;
    align-self: center;
    text-align: center;
    font-size: larger;
}

input {
    width: 80%;
    font-size: medium;
    padding: 0.2em;

    justify-self: center;
    align-self: center;
    text-align: center;
}

.bottom {
    display: inline-flex;
    width: 100%;
    text-align: center;
    margin-top: 4%;
}

select {
    width: 50%;
    font-size: medium;
    padding: 0.2em;
    margin-bottom: 0.5em;
}